body {
	padding: 0;  
  margin: 0;
  text-decoration: none;
  font-style: none;
  
}
@font-face {
  font-family: popins;
  src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');
}
*{
  font-family: 'popins';
}
a {
  text-decoration: none;
  font-style: none;
}

/* Extra small devices (phones, 320px and down) */
@media only screen and (max-width: 320px) {
  .home-wrapper{
    height: 100vh;
    padding: 10px 5px;
  }
  .home-button{
    width: 80%;
  }
  .home-text{
    font-size: 14px;
  }
  #about {
    padding: 10px 5px !important;
}
.about-line {
  left: 87px !important;
 
}
.about-main{
  flex-direction: column !important;
  gap: 1rem !important;
}
.hot-img {
  width: 98% !important;
 
}
.banner-wrapper {
  padding: 5px 10px !important;
}
.border {

  flex-direction: column !important;
  
}
.border > * {
  border-bottom: solid 1px #e7c71d;
  width: 100%; 
  box-sizing: border-box; 
}
.border > *:last-child {
  border-bottom: none;
}
#gallery {
  padding: 5px 10px !important;
}
.gallery-wrapper{
  grid-template-columns: repeat(2,0fr) !important;
}
.gallery-call-girl {
  height: 245px !important;
  width: 145px !important;
}
.contact-form {
  padding: 80px 10px 80px 10px !important;
  flex-direction: column !important;

}
.w-left {
  padding-top: 0px !important;
  padding-left: 0px !important;
  
}
.c-right .user {
  width: 18rem !important;
}
.c-right {
  align-items: center !important;
  justify-content: center !important;
}
.btn {
  width: 18rem !important;
}
.header-wrapper{
  height: 100vh;
  padding: 10px 5px;
  width: 97%;
  /* transform: scale(1); */
  
}
.header-wrapper section{
  width: 80% !important;
}
.header-wrapper header h1 {
  font-size: 20px !important;
}
.header-wrapper section p{
  font-size: 14px !important;
}
/* .header-wrapper header{
  transform: scale(.5);
} */

.container .home-button{
  transform: scale(.7);
  left: 26px;
}
.container .button-wrapper>Button{
  transform: scale(.8);
}
.content-wrapper-1 h2{
  font-size: 18px !important;

}
.content-wrapper-1 div{
  flex-direction: column;
}
.content-wrapper-1 div img{
  width: auto !important;
  height: auto !important;
  padding-bottom:10px !important;
}
.content-wrapper-1 div{
  width: 90% !important;
  justify-content: center !important;
}
.content-wrapper-1 div p{
  font-size: 14px !important;
  padding-top: 5px !important;
}
.content-sub-wrapper-1 .home-button{
  gap: 1rem !important;
  display: flex;
  flex-direction: row;
}
.content-wrapper-2{
  width: 100% !important;
}
.content-sub-wrapper-3{
  border: 1px solid #e7c71d;
  width: 80% !important;
  padding: 10px !important;
  /* border-radius: 10px; */
  /* display: flex; */
  gap: 10px !important;
  flex-direction: column;


}
.content-wrapper-2 h2{
  font-size: 18px !important;

}
.content-sub-wrapper-4 p{
  /* width: 60%; */
  /* text-align: center; */
  /* color: #e5e0e0fa; */
  font-size: 14px !important;


}
.values{
  font-size: 14px !important;
}
.content-sub-wrapper-4 h2{
  padding-top: 10px !important;
  font-size: 18px !important;
}
.container footer h2{
  padding-top: 10px !important;
  font-size: 18px !important;
  
}
.container footer p{
  font-size: 14px !important;
}
  /* Additional styles for extra small screens go here */
}

/* Small devices (phones, 321px to 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  /* Additional styles for small screens go here */
  .home-wrapper{
    height: 100vh;
    padding: 20px 10px;
  }
  #about {
    padding: 10px 5px !important;
}

.about-main{
  flex-direction: column !important;
  gap: 1rem !important;
}
.hot-img {
  width: 98% !important;
 
}
.banner-wrapper {
  padding: 20px 10px !important;
}
.border {

  flex-direction: column !important;
  
}
.border > * {
  border-bottom: solid 1px #e7c71d;
  width: 100%; 
  box-sizing: border-box; 
}
.border > *:last-child {
  border-bottom: none;
}
#gallery {
  padding: 20px 10px !important;
}
.gallery-wrapper{
  grid-template-columns: repeat(2,0fr) !important;
}
.gallery-call-girl {
  height: 271px !important;
  width: 171px !important;
}
.contact-form {
  padding: 80px 10px 80px 10px !important;
  flex-direction: column !important;

}
.w-left {
  padding-top: 0px !important;
  padding-left: 0px !important;
  
}
.c-right .user {
  width: 18rem !important;
}
.c-right {
  align-items: center !important;
  justify-content: center !important;
}
.btn {
  width: 18rem !important;
}
.header-wrapper{
  height: 100vh;
  padding: 10px 5px;
  /* width: 98%; */
  /* transform: scale(1); */
  
}
.header-wrapper section{
  width: 80% !important;
}
.header-wrapper header h1 {
  font-size: 20px !important;
}
.header-wrapper section p{
  font-size: 14px !important;
}
/* .header-wrapper header{
  transform: scale(.5);
} */

.container .home-button{
  transform: scale(.7);
  /* left: 26px; */
}
.container .button-wrapper>Button{
  transform: scale(.8);
}
.content-wrapper-1 h2{
  font-size: 18px !important;

}
.content-wrapper-1 div{
  flex-direction: column;
}
.content-wrapper-1 div img{
  width: auto !important;
  height: auto !important;
  padding-bottom:10px !important;
}
.content-wrapper-1 div{
  width: 90% !important;
  justify-content: center !important;
}
.content-wrapper-1 div p{
  font-size: 14px !important;
  padding-top: 5px !important;
}
.content-sub-wrapper-1 .home-button{
  gap: 1rem !important;
  display: flex;
  flex-direction: row;
}
.content-wrapper-2{
  width: 100% !important;
}
.content-sub-wrapper-3{
  border: 1px solid #e7c71d;
  width: 80% !important;
  padding: 10px !important;
  /* border-radius: 10px; */
  /* display: flex; */
  gap: 10px !important;
  flex-direction: column;


}
.content-wrapper-2 h2{
  font-size: 18px !important;

}
.content-sub-wrapper-4 p{
  /* width: 60%; */
  /* text-align: center; */
  /* color: #e5e0e0fa; */
  font-size: 14px !important;


}
.values{
  font-size: 14px !important;
}
.content-sub-wrapper-4 h2{
  padding-top: 10px !important;
  font-size: 18px !important;
}
.container footer h2{
  padding-top: 10px !important;
  font-size: 18px !important;
  
}
.container footer p{
  font-size: 14px !important;
}
}

/* Medium devices (phones, 481px to 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  /* Additional styles for medium screens go here */
  .home-wrapper{
    height: 100vh;
    padding: 20px 10px;
  
  }
  #about {
    padding: 20px 10px !important;
}
.about-main {
 
  gap: 1rem !important;
 
}
.banner-wrapper {
  
  padding: 20px 10px !important;
  
}
.banner-head {
  margin: 30px 0px !important;
  padding: 0 5px!important;
}
#gallery {
  padding: 20px 10px !important;
}
.gallery-wrapper{
  grid-template-columns: repeat(4,0fr) !important;
}
.gallery-call-girl {
  height: 279px !important;
  width: 179px !important;
}
.contact-form {
  padding: 80px 10px 80px 10px !important;
  /* flex-direction: column !important; */
  justify-content: space-between !important;
  align-items: center !important;

}
.w-left {
  padding-top: 0px !important;
  padding-left: 0px !important;
  
}
.c-right .user {
  width: 21rem !important;
}
.c-right {
  align-items: center !important;
  justify-content: center !important;
}
.btn {
  width: 21rem !important;
}
.header-wrapper{
  height: 100vh;
  padding: 10px 5px;
  /* width: 99%; */
  /* transform: scale(1); */
  
}
.header-wrapper section{
  width: 80% !important;
}
.header-wrapper header h1 {
  /* font-size: 20px !important; */
}
.header-wrapper section p{
  /* font-size: 14px !important; */
}
/* .header-wrapper header{
  transform: scale(.5);
} */

.container .home-button{
  /* transform: scale(.7); */
  /* left: 26px; */
}
.container .button-wrapper>Button{
  transform: scale(.8);
}
.content-wrapper-1 h2{
  /* font-size: 18px !important; */

}
.content-wrapper-1 div{
  /* flex-direction: column; */
}
.content-wrapper-1 div img{
  width: auto !important;
  /* height: auto !important; */
  padding-bottom:10px !important;
}
.content-wrapper-1 div{
  width: 90% !important;
  justify-content: center !important;
}
.content-wrapper-1 div p{
  /* font-size: 14px !important; */
  /* padding-top: 5px !important; */
}
.content-sub-wrapper-1 .home-button{
  gap: 1rem !important;
  display: flex;
  flex-direction: row;
}
.content-wrapper-2{
  width: 100% !important;
}
.content-sub-wrapper-3{
  border: 1px solid #e7c71d;
  width: 80% !important;
  padding: 10px !important;
  /* border-radius: 10px; */
  /* display: flex; */
  gap: 10px !important;
  flex-direction: column;


}
.content-wrapper-2 h2{
  /* font-size: 18px !important; */

}
.content-sub-wrapper-4 p{
  /* width: 60%; */
  /* text-align: center; */
  /* color: #e5e0e0fa; */
  /* font-size: 14px !important; */


}
.values{
  /* font-size: 14px !important; */
}
.content-sub-wrapper-4 h2{
  /* padding-top: 10px !important; */
  /* font-size: 18px !important; */
}
.container footer h2{
  /* padding-top: 10px !important; */
  /* font-size: 18px !important; */
  
}
.container footer p{
  /* font-size: 14px !important; */
}
}

/* Large devices (phones, 769px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Additional styles for large screens go here */
  .home-wrapper{
    height: 100vh;
    padding: 20px 30px;
  }
  #about {
    padding: 20px 30px !important;
}
.banner-wrapper {
  
  padding: 20px 30px !important;
  
}
#gallery {
  padding: 20px 30px !important;
}
.gallery-call-girl {
  height: 333px !important;
  width: 233px !important;

}
.contact-form {
  padding: 80px 30px 80px 30px !important;
  /* flex-direction: column !important; */
  justify-content: space-between !important;
  align-items: center !important;

}
.w-left {
  padding-top: 0px !important;
  padding-left: 0px !important;
  
}
.c-right .user {
  width: 35rem !important;
}
.c-right {
  align-items: center !important;
  justify-content: center !important;
}
.btn {
  width: 35rem !important;
}
.header-wrapper{
  height: 100vh;
  padding: 10px 5px;
  /* width: 99%; */
  /* transform: scale(1); */
  
}
.header-wrapper section{
  width: 80% !important;
}
.header-wrapper header h1 {
  /* font-size: 20px !important; */
}
.header-wrapper section p{
  /* font-size: 14px !important; */
}
/* .header-wrapper header{
  transform: scale(.5);
} */

.container .home-button{
  /* transform: scale(.7); */
  /* left: 26px; */
}
.container .button-wrapper>Button{
  transform: scale(.8);
}
.content-wrapper-1 h2{
  /* font-size: 18px !important; */

}
.content-wrapper-1 div{
  /* flex-direction: column; */
}
.content-wrapper-1 div img{
  width: auto !important;
  /* height: auto !important; */
  padding-bottom:10px !important;
}
.content-wrapper-1 div{
  width: 90% !important;
  justify-content: center !important;
}
.content-wrapper-1 div p{
  /* font-size: 14px !important; */
  /* padding-top: 5px !important; */
}
.content-sub-wrapper-1 .home-button{
  gap: 1rem !important;
  display: flex;
  flex-direction: row;
}
.content-wrapper-2{
  width: 100% !important;
}
.content-sub-wrapper-3{
  border: 1px solid #e7c71d;
  width: 80% !important;
  padding: 10px !important;
  /* border-radius: 10px; */
  /* display: flex; */
  gap: 10px !important;
  flex-direction: column;


}
.content-wrapper-1 div p{
  padding-top: 0px !important;
}

}

/* Extra large devices (phones, 1025px to 1366px) */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  /* Additional styles for extra large screens go here */
  .home-wrapper{
    height: 100vh;
    padding: 20px 10px;
  }
  .contact-form {
    padding: 80px 10px 80px 10px !important;
    /* flex-direction: column !important; */
    justify-content: space-between !important;
    align-items: center !important;
    
  }
  .w-left {
    padding-top: 0px !important;
    padding-left: 0px !important;
    
  }
  .c-right .user {
    width: 23rem !important;
  }
  .c-right {
    align-items: center !important;
    justify-content: center !important;
  }
  .btn {
    width: 35rem !important;
  }
  
}

/* Extra extra large devices (phones, 1367px and up) */
@media only screen and (min-width: 1367px) {
  /* Additional styles for extra extra large screens go here */
  .home-wrapper{
    height: 100vh;
    padding: 20px 10px;
  }
  .home-text{
    font-size: 25px;
  }
}


